:root {
  font-size: 62.6%;
  --primary-color: rgb(54, 6, 116);
  --primary-color-light: rgb(99, 33, 185);
  --secundary-color: rgb(161, 16, 161);
  --background-category: rgba(115, 74, 143, 1);
  --border-category: rgb(181, 143, 219);
  --color-button: #18bb25;
  --button-delete-color: #d31f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  gap: 3rem;
}

hr {
  border: 0;
  border-top: 1px solid rgb(219, 219, 219);
  margin: 1rem;
}

li {
  list-style-type: none;
}

.header-home {
  color: var(--border-category);
}

.header-home img {
  max-width: 20rem;
}

.header-home::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-button);
  margin-top: 1rem;
}

.header-home h1 {
  font-size: 3.6rem;
}

.header-home p {
  color: white;
  font-size: 1.8rem;
}

.header-home .nav-bar {
  background: transparent;
  margin: 0;
}

.header-home-content {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.header-home img {
  transform: translateY(1rem);
}

.posts-home {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.post {
  margin-bottom: 1rem;
}

.post h3 {
  color: var(--primary-color)
}

.post .description{
  color: initial;
  margin-bottom: 2rem;
}

a.view-more {
  display: flex;
  align-items: center;  
  gap: 0.5rem;
  
  font-size: 1.3rem;
  border-radius: .5rem;
}

a.view-more {
  color: var(--color-button);
  font-weight: bold;
}

.button-view-more {
  display: flex;
  justify-content: space-between;
}

.footer-post {
  font-size: 1.3rem; 
  display: flex; 
  justify-content: space-between;  
}

.footer-post-home {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.footer-post-home a {
  font-size: 1.2rem;
  color: var(--color-button)
}

.nav-bar,
.header-home  {
  background: var(--purple-bg);
  background-image: radial-gradient(
    circle,
    rgba(23, 0, 39, 1) 12%,
    rgba(34, 4, 55, 1) 39%,
    rgba(41, 7, 66, 1) 64%,
    rgba(115, 74, 143, 1) 146%
  );
}

.nav-bar {
  width: 100%;
  padding: 2rem;
  margin-bottom: 3rem;
}

.nav-bar a {
  font-size: 1.3rem;
}

.nav-bar .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

main {
  padding-top: 3rem;
}

button.button-register,
.login {
  margin: 2rem 0 2rem;

  background: var(--color-button);
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: .8rem 1.2rem;

  text-transform: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.login {
  background: var(--background-category);
  margin: 0;
}

.login a {
  padding: .5rem 1.5rem;
}

.button-add {
  margin-top: 2rem;
}

.button-create-posts {
  margin-top: 2rem;
}

.button-create,
.button-add,
.button-edit,
.button-delete,
.button-register,
.login {
  position: relative;
  padding: 1rem;
  border: 1px solid rgb(19, 167, 19);
  border-radius: 0.4rem;

  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2rem;

  background: var(--color-button);

  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.button-create::before,
.button-add::before,
.button-edit::before,
.button-delete::before,
.button-register::before,
.login::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  width: 0;
  height: 100%;
  background: rgb(19, 167, 19);
  transform: skew(35deg);
  z-index: -1;

  transition: width 0.5s;
}

.button-create:hover::before,
.button-add:hover::before,
.button-edit:hover::before,
.button-delete:hover::before,
.button-register:hover::before,
.login:hover::before {
  width: 150%;
}

.button-edit,
.login {
  padding: 0.5rem;
  background: var(--background-category);
  border: none;
  text-transform: capitalize;
}

.button-edit::before,
.login::before {
  background: var(--primary-color-light);
  transition: width 0.5s;
}

.button-delete {
  padding: 0.5rem;
  background: var(--button-delete-color);
  border: none;
  text-transform: capitalize;
  height: 100%;
}

.button-delete::before {
  background: red;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.button-view-more {
  border: none; 
}

/* Formulario */
form {
  background: var(--background-category);
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 0.4rem;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 2px 3px 5px #200455;
}

.form-submit {
  margin: 0;
  padding: 0;
  box-shadow: none;
  display: block;
  border: none;
}

label {
  text-transform: capitalize;
  display: block;
  color: rgb(226, 195, 255);
  text-shadow: 2px 2px 3px #200455;
  font-weight: bold;
}

textarea {
  resize: none;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 2px #200455;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

select {
  border: none;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 2px #200455;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

span {
  color: var(--primary-color);
  margin-left: 1rem;
}

small {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3rem;
}

small.editing {
  color: gray;
  text-shadow: 1px 1px 2px rgb(94, 94, 94);
}

small.suggestion {
  color: orange;
  text-shadow: 2px 2px 3px #200455;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-style: none;
  outline: none;
  background: rgb(246, 242, 253);
  box-shadow: 1px 1px 2px #200455;
}

.header-list-category,
.list-posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.list-category {
  display: flex;
  flex-direction: column;
  gap:0;
}

.list-category .container {
  display: flex;
}

.list-category a {
  display: flex; 
  align-items: center;
  gap: 1rem;
  color: var(--primary-color);
}

.list-category a:hover {
  color: var(--primary-color-light);
  font-weight: bold;
  cursor: pointer;
}

/* Imprimindo listas de categorias  */
.category-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-description li {
  border-radius: 0.4rem;
  color: black;
  padding: 1rem 2rem;
  border: 1px solid var(--background-category);
  box-shadow: 1px 1px 4px #200455a9;
}

.category-description li:nth-child(1) {
  margin-top: 2rem;
}

.category-description li:nth-child(even) {
  background: rgb(214, 190, 252);
}

.category-description li:nth-child(odd) {
  background: rgb(239, 216, 255);
}

.category-editing,
.post-editing,
.post,
.post-reveal,
.post-home {
  background: rgb(244, 241, 247);
  padding: 2rem;
  border-radius: 0.5rem;
  color: grey;
  border: 1px solid rgb(219, 219, 219);
}

.category-editing small {
  color: gray;
  text-shadow: 1px 1px 2px rgb(73, 73, 73);
}

.category-posts {
  background: var(--border-category);

  color: white;
  text-shadow: 1px 1px 5px rgb(80, 51, 99);

  padding: 0.5rem;
  margin: 2rem 0 1rem;

  border-radius: 0.4rem;
  border: 1px solid rgb(167, 131, 202);
}

.category-post-editing {
  background: rgb(206, 206, 206);
  color: white;
  text-shadow: 1px 1px 5px rgb(80, 51, 99);

  padding: 0.5rem;
  margin: 1rem 0 1rem;

  border-radius: 0.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.alert-message {
  background-color: #dd2f2f62;
  color: rgb(126, 2, 2);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.containter-alerts .alert-message:last-child{
  margin-bottom: 2rem;
}

.success-message {
  background-color: rgba(49, 184, 49, 0.527);
  color: rgb(1, 78, 1);
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

footer {
  background: var(--purple-bg);
  background-image: radial-gradient(
    circle,
    rgba(23, 0, 39, 1) 12%,
    rgba(34, 4, 55, 1) 39%,
    rgba(41, 7, 66, 1) 64%,
    rgba(115, 74, 143, 1) 146%
  );
  margin-top: 5rem;
  color: white;
  text-align: center;
  padding-block: 4rem;
}

.posts-main-home {
  display: grid;
  grid-template-areas: "A B"
                       "A D"
                       "A E";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0fr 1fr;
  
  column-gap: 6rem;
}

.post-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-main h3 {
  margin-bottom: 1rem;
}

.post-main p {
  margin-bottom: 1rem;
}

.post-main:nth-child(1) {
  grid-area: A;
}

.post-main:nth-child(2) {
  grid-area: B;
}

.post-main:nth-child(3) {
  grid-area: D;
}

.post-main:nth-child(4) {
  grid-area: E;
}

.post-main img {

  max-width: 40rem;
  display: block;
  margin: 1rem 0 1rem;
}

.post-main .view-more img {
  width: initial;
  margin: 0;
}

.recent-posts {
  margin-top: 4rem; 
}

.post-reveal h2,
.post-home,
.post-main h3 {
  color: var(--primary-color)
}

.post-reveal p,
.post-home p{
  color: initial;
}

.footer-post-reveal p,
.footer-post-reveal small {
  color: var(--primary-color); 
  font-size: 1.3rem;
  text-shadow: none;
}


