<nav class="nav-bar">
  <div class="wrapper">
    <div class="container">
      <h2 class="logo">LOGO</h2>
      <ul>
        <!-- <a href="/admin">
          <li>Admin</li>
        </a> -->
        <a href="/admin/categories">
          <li>Categories</li>
        </a>
      </ul>
    </div>
  </div>
</nav>
