<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="wrapper">
      <% err.forEach((e) =>{ %>
      <div class="alert-message"><%= e.message %></div>
      <% }) %>

      <span>
        <h2>Adicionar categoria</h2>
        <hr />
      </span>

      <form action="/admin/categories/add" method="post">
        <label for="name">
          Name:
          <input
            id="name"
            name="name"
            type="text"
            placeholder="Nome categoria"
          />
        </label>

        <label for="slug"
          >Slug:
          <input id="slug" name="slug" type="text" placeholder="Nome slug" />
        </label>

        <button class="button-add" type="submit"><p>Adicionar</p></button>
      </form>
    </div>
  </body>
</html>
