<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="wrapper">
      <%- include('../partials/err') %>

      <span>
        <h2>Adicionar categoria</h2>
        <hr />
      </span>

      <form action="/admin/categories/add" method="post">
        <label for="name">
          Name:
          <input id="name" name="name" type="text" placeholder="Nome categoria" />
        </label>
    
        <label for="slug"
          >Slug:
          <input id="slug" name="slug" type="text" placeholder="Nome slug" />
        </label>
    
        <button class="button-add" type="submit">Adicionar</button>
      </form>
    </form>
    
    </div>
  </body>
</html>
